[submodule "TMessagesProj/jni/libtgvoip"]
	path = TMessagesProj/jni/libtgvoip
	url = https://github.com/grishka/libtgvoip
[submodule "TMessagesProj/jni/libwebp"]
	path = TMessagesProj/jni/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "TMessagesProj/jni/ffmpeg"]
	path = TMessagesProj/jni/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "TMessagesProj/jni/boringssl"]
	path = TMessagesProj/jni/boringssl
	url = https://github.com/google/boringssl
[submodule "TMessagesProj/jni/libyuv"]
	path = TMessagesProj/jni/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "TMessagesProj/jni/sqlite"]
	path = TMessagesProj/jni/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "TMessagesProj/jni/opus"]
	path = TMessagesProj/jni/opus
	url = https://github.com/xiph/opus
[submodule "TMessagesProj/jni/ogg"]
	path = TMessagesProj/jni/ogg
	url = https://github.com/xiph/ogg
[submodule "TMessagesProj/jni/opusfile"]
	path = TMessagesProj/jni/opusfile
	url = https://github.com/xiph/opusfile
